@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style5.css";
@import "fonts.css";

.dd-header{
    background: linear-gradient(to top, #FF7700, #FFAD00);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#FF7700), color-stop(100%,#FFAD00));
    padding: 8px 0px;
    border:1px solid #FEB418;
    .dd-logo{
    	text-align:center;
    }
    .dd-poisk{
    	margin-top:13px;
    	label{
    		position:relative;
    		.dd-input{
    			width: 100%;
    			outline: none;
    			border:none;
    			background:#BD470A;
    			border-radius:5px;
    			height:52px;
    			padding-left:17px;
    			font-family:"Arial";
    			font-size:16px;
				color:#FFDE00;
    		}
    		.dd-submit{
    			position: absolute;
    			z-index: 50;
    			width: 22px;
    			height: 22px;
    			border: none;
    			top: 0px;
    			right:16px;
    			background: url(../img/lupa.png) no-repeat;
    		}
			::-webkit-input-placeholder { /* WebKit browsers */
			   color:#FFDE00;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:#FFDE00;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:#FFDE00;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			   color:#FFDE00;
			}
    	}
    	label:before{
			position: absolute;
			content:" ";
			background: url(../img/dd-cherta.png) no-repeat;
			right:52px;
			top:-4px;
			height: 27px;
			width: 2px;
		}
		// label:after{
		// 	position: absolute;
		// 	content:" ";
		// 	background: url(../img/lupa.png) no-repeat;
		// 	right:16px;
		// 	top:-4px;
		// 	height: 22px;
		// 	width: 22px;
		// }
    }
    .dd-poisk2{
    	margin-top:13px;
		input::-webkit-input-placeholder { color:#FFDE00; }
	    input::-moz-placeholder { color:#FFDE00; }
    	label{
    		position:relative;
    		.dd-input{
    			width: 100%;
    			outline: none;
    			border:none;
    			background:#BD470A;
    			border-radius:5px;
    			height:52px;
    			padding-left:63px;
    			font-family:"Arial";
    			font-weight:bold;
    			font-size:16px;
				color:#FFDE00;
    		}
    		.dd-submit{
    			position: absolute;
    			z-index: 50;
    			width: 26px;
    			height: 26px;
    			border: none;
    			top: -2px;
    			right:16px;
    			background: url(../img/out.png) no-repeat;
    		}
			// ::-webkit-input-placeholder { /* WebKit browsers */
			//    color:#FFDE00;
			// }
			// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			//    color:#FFDE00;
			// }
			// ::-moz-placeholder { /* Mozilla Firefox 19+ */
			//    color:#FFDE00;
			// }
			// :-ms-input-placeholder { /* Internet Explorer 10+ */
			//    color:#FFDE00;
			// }
    	}
    	label:after{
			position: absolute;
			content:" ";
			background: url(../img/chel.png) no-repeat;
			left:15px;
			top:-4px;
			height: 22px;
			width: 22px;
		}
    	label:before{
			position: absolute;
			content:" ";
			background: url(../img/dd-cherta.png) no-repeat;
			left:49px;
			top:-4px;
			height: 27px;
			width: 2px;
		}
    }
    .dd-log-in{
    	margin:0 auto;
    	border-radius:5px;
    	background:#BD470A;
    	height: 52px;
    	width: 240px;
    	margin-top:12px;
    	display: table;
    	.dd-button{
    		//outline: 1px solid #fff;
    		display: table-cell;
    		// padding:16px 21px;
    		border-radius:5px;
    		transition:0.5s;
    		span{
    			display: inline-block;
    			font-family:"Arial";
    			font-size:13px;
    			color:#fff;
    			border-bottom: 1px dashed #fff;
    		}
    		// a:first-child{
    		// 	padding-left:33px;
    		// }
    	}
    	.dd-button:hover{
    		// background: #fefcea; /* Для старых браузров */
		    background: linear-gradient(to top, #FF9600, #FFC000);
		    background: -webkit-gradient(linear, left bottom, left  top, color-stop(0%,#FF9600), color-stop(100%,#FFC000));
		    border-bottom:2px solid #DE6305;
		    span{
		    	font-weight:bold;
		    	font-size:16px;
		    	border-bottom:none;
		    }
    	}
    	.active{
    		// background: #fefcea; /* Для старых браузров */
    		background: linear-gradient(to top, #FF9600, #FFC000);
    		background: -webkit-gradient(linear, left bottom, left  top, color-stop(0%,#FF9600), color-stop(100%,#FFC000));
    		border-bottom:2px solid #DE6305;
		    span{
		    	font-weight:bold;
		    	font-size:16px;
		    	border-bottom:none;
		    }
    	}
    	.dd-button:first-child{
    		padding:16px 33px;
    	}
    	.dd-button2{
    		padding:16px 9px !important;
    		span{
    			display:inline-block;
    			margin-left:11px;
    		}
    	}
    	.dd-button2:hover{
    		span{
    			margin-left:0px;
    		}
    	}
    }
}
.dd-footer-top{
	border-top:1px solid #FEB51D;
	border-bottom:1px solid #FA8119;
	padding-top:8px;
	// height: 59px; на декстопе
	background: linear-gradient(to top, #FF7700, #FFAC00);
	.dd-player{
		// display:table; 
		.dd-center{
			width: 114px;
			margin:0 auto;
			.dd-prevs{
				padding-top:7px;
				float:left;
				a{
					// display: table-cell;
					display:inline-block;
					width: 30px;
					height: 30px;
					background: #fff url(../img/dd-left.png) no-repeat right 8px center;
					border-radius:5px;
				}
			}
			.dd-prevs2{
				margin-left:5px;
				a{
					background: #fff url(../img/dd-right.png) no-repeat left 8px center;
				}
			}
			.dd-play{
				float:left;
				a{
					// display: table-cell;
					display:inline-block;
					width: 42px;
					height: 42px;
					background: #fff url(../img/play.png) no-repeat left 15px center;
					border-radius:5px;
					margin-left:5px;
				}
			}
		}
	}
	/*---------------------------*/	
	.dd-progress-wrap{	
		// padding-left:57px;
		// padding-right:73px;		  
		.progress-bar {
			margin-top:4px;
		    background-color: #BD470A;
		    height: 34px;
		    width: 100%;		
		    -moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			text-align:center;          
		}
		.progress-bar span {
			font-family:"Arial";
			font-size:14px;
		    display: inline-block;
		    padding-top:8px;
		    height: 100%;
		    color:#fff;
			background-color:#A93F09;
		    -moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-webkit-transition: width .4s ease-in-out;
			-moz-transition: width .4s ease-in-out;
			-ms-transition: width .4s ease-in-out;
			-o-transition: width .4s ease-in-out;
			transition: width .4s ease-in-out;		
		}
		.orange span {
			  background-color: #BD470A;
		}
		.shine span {
			position: relative;
		}

		.shine span::after {
			content: '';
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background:#A93F09;
		    -moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;			
			
		    -webkit-animation: animate-shine 2s ease-out infinite;
		    -moz-animation: animate-shine 2s ease-out infinite; 			
		}

		@-webkit-keyframes animate-shine { 
			0% {opacity: .5; width: 0;}
			50% {opacity: .5;}
			100% {opacity: .5; width: 100%;}
		}


		@-moz-keyframes animate-shine {
			0% {opacity: .5; width: 0;}
			50% {opacity: .5;}
			100% {opacity: .5; width: 100%;}
		}
	}	
	/* -- Бегунок Звука -- */
	.dd-range-wrap{
		// outline: 1px solid red;
		float:left;
		padding-top:10px;
		position: relative;
		padding-left:27px;
		// margin-left:85px;
		input[type=range] {
			-webkit-appearance: none;
			// margin: 50px;
			width: 96px;
		}

		input[type=range]:focus {
			outline: none;
		}

		/* Полоса в Хроме */

		input[type=range]::-webkit-slider-runnable-track {
			// height: 8px;
			// cursor: pointer;
			// animate: 0.2s;
			// border: 1px solid #575656;
			// background: #AD020D;
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			background: #fff;
			// -webkit-border: 1px solid red;
			// border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
		}

		/* Бегунок в Хроме */

		input[type=range]::-webkit-slider-thumb {
			// box-shadow: 1px 1px 1px #000;
			// border: 1px solid #000;
			// height: 35px;
			// width: 15px;
			// border-radius: 40%/60%;
			// background: #ffffff;
			// cursor: pointer;
			// -webkit-appearance: none;
			// margin-top: -14px;
			border-radius:5px;
			box-shadow: 0px 2px 3px #C76B00;
			outline: none;
			border:none;
			height:11px;
			width:11px;
			background: #fff url(../img/kr.png) no-repeat center;
			cursor: pointer;
			-webkit-appearance: none;
			position: relative;
			margin-top:-3px;
		}

		/* Полоса в Мозиле */
    
		input[type=range]::-moz-range-track {
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			background: #fff;
			border-radius:5px;
			
		}

		/* Бегунок в Мозиле */

		input[type=range]::-moz-range-thumb {
			box-shadow: 0px 2px 3px #C76B00;
			outline: none;
			border:none;
			height:11px;
			width:11px;
			background: #ffffff url(../img/kr.png) no-repeat center;
			cursor: pointer;
			position: relative;
		}
	}
	.dd-range-wrap:after{
		content:" ";
		position: absolute;
		left:0;
		top:12px;
		width: 17px;
		height: 16px;
		background: url(../img/zv.png);

	}
	.top-footer-right{
		padding-top:10px;
		float:right;
		.dd-download{
			float:right;
		}
		.dd-download2{
			margin-right:5px;
		}
	}
}
.dd-footer{
	background: #BD470A;
	padding:27px 0px;
	border-top:1px solid #A74E20;
	border-bottom:#C45C26;
	box-shadow:0px 3px 4px -3px rgba(0,0,0,0.5) inset;
	.footer-left{
		float:left;
		span{
			font-family:"Arial";
			font-size:13px;
			color:#FFDE00;
		}
	}
	.footer-right{
		float:right;
		span{
			font-family:"Arial";
			font-size:13px;
			color:#FFDE00;
			span{
				color:#fff !important;
			}
		}
	}
}

.df-topcaption3{
 	position: relative;
 	a{
 		padding-left:32px;
 		position: absolute;
		right: 10px;
	    top: 11px;
 	}
 	background: linear-gradient(to bottom, #EB6517, #C14B0C ) !important;
	background: -webkit-gradient(linear, left top, left   bottom, color-stop(0%,#EB6517), color-stop(100%,#C14B0C)) !important;
 	.df-img2{
 		background: url(../img/dd-u.png) no-repeat left center !important ; 
 	}
}

// Чекбоксы

.dd-cheks{
	border:1px solid #ECECEC;
	border-radius:5px;
	box-shadow: 0px 6px 3px -4px #d8d8d8;
	padding:10px 7px;
	margin-bottom:10px;
	.dd-delete{
		float:right;
		a{
			border-radius:5px;
		 	background: linear-gradient(to bottom, #EB6517, #C14B0C ) !important;
		 	background: -webkit-linear-gradient(top, #EB6517, #C14B0C ) !important;		 	

		 	padding:4px 21px 4px 38px;
		 	font-family:"Arial";
		 	font-size:12px;
		 	color:#fff;
		 	position: relative;
		 }
		 a:after{
		 	content:" ";
		 	position: absolute;
 	 		background: url(../img/dd-korz.png); 
 	 		width: 12px;
 	 		height: 12px;
 	 		left:16px;
 	 		top:5px;
		 }
	}
	/* Скрываем реальный чекбокс */
	.ab-remember{
		float:left;
		.checkbox {
		    display: none;
		}
		label{
			display: block;
			cursor:pointer;
			span{
				font-family:"Arial";
				font-size:12px;
			}
		}
		.margin-label{
			margin-top:4px;
			// outline: 1px solid red;
		}
		 
		/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
		.checkbox-custom {
			box-shadow: 0 0 3px #d8d8d8;
		    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
		    width: 15px;             /* Обязательно задаем ширину */
		    height: 16px;            /* Обязательно задаем высоту */
		    border: 1px solid #ECECEC;
		    background:none;
		    border-radius: 5px;
		    // margin-top: 13px;
		}
		 
		/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
		.checkbox-custom,
		.label {
		    display: inline-block;
		    vertical-align: middle;
		}
		 
		/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
		.checkbox:checked + .checkbox-custom::before {
		    content: "";             /* Добавляем наш псевдоэлемент */
		    display: block;          /* Делаем его блочным элементом */
		    position: absolute;      /* Позиционируем его абсолютным образом */
		 
		    /* Задаем расстояние от верхней, правой, нижней и левой границы */
		    top: 4px;
		    right: 2px;
		    bottom: 2px;
		    left: 2px;
		    background: url(../img/ab-galka.png) no-repeat top 0px center;/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
		    border-radius: 2px;
		}
		/*# sourceMappingURL=style.css.map */
	}
}
.dd-cheks2{
	padding:10px 7px;
	margin-bottom:10px;
	display: inline-block;
	// position: relative;
	.dd-delete{
		// position: absolute;
		// right:-172px;
		display: inline-block;
		margin-left:20px;
		a{
			border-radius:5px;
		 	background: linear-gradient(to bottom, #EB6517, #C14B0C ) !important;
		 			 	background: -webkit-linear-gradient(top, #EB6517, #C14B0C ) !important;		 	

		 	padding:4px 21px 4px 38px;
		 	font-family:"Arial";
		 	font-size:12px;
		 	color:#fff;
		 	position: relative;
		 }
		 a:after{
		 	content:" ";
		 	position: absolute;
 	 		background: url(../img/dd-korz.png); 
 	 		width: 12px;
 	 		height: 12px;
 	 		left:16px;
 	 		top:5px;
		 }
	}
	/* Скрываем реальный чекбокс */
	.ab-remember2{
		// float:left;
		display: inline-block;
		.checkbox {
		    display: none;
		}
		label{
			//display: block;
			margin-left: 9px;
			cursor:pointer;
			span{
				font-family:"Arial";
				font-size:12px;
			}
		}
		.margin-label{
			// margin-top:4px;
			margin-left:38px;
			// outline: 1px solid red;
		}
		 
		/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
		.checkbox-custom {
		    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
		    width: 15px;             /* Обязательно задаем ширину */
		    height: 16px;            /* Обязательно задаем высоту */
		    border: 1px solid #ECECEC;
		    background:none;
		    border-radius: 5px;
		    // box-shadow: 0 6px 3px -3px #d8d8d8;
		    box-shadow: 0 0 3px #d8d8d8;
		    // margin-top: 13px;
		}
		 
		/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
		.checkbox-custom,
		.label {
		    display: inline-block;
		    vertical-align: middle;
		}
		 
		/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
		.checkbox:checked + .checkbox-custom::before {
		    content: "";             /* Добавляем наш псевдоэлемент */
		    display: block;          /* Делаем его блочным элементом */
		    position: absolute;      /* Позиционируем его абсолютным образом */
		 
		    /* Задаем расстояние от верхней, правой, нижней и левой границы */
		    top: 4px;
		    right: 2px;
		    bottom: 2px;
		    left: 2px;
		    background: url(../img/ab-galka.png) no-repeat top 0px center;/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
		    border-radius: 2px;
		}
		/*# sourceMappingURL=style.css.map */
	}
}

.df-playlist2{
	.dd2{
		// background: url("/img/dd-krug.png") no-repeat !important;
	    color: #595959 !important;
	    width: 32px !important;
	    height: 30px !important;
	    border:1px solid #F5F5F5 !important;
	    border-radius:15px;
	    background: none !important;
	    box-shadow: 0px 6px 3px -4px #d8d8d8;
	    display: inline-block;
	    font-family: "Arial";
	    font-size: 15px;
	    font-weight: bold;
	    height: 30px;
	    margin: 5px 0 5px 7px;
	    padding-top: 5px;
	    text-align: center;
	    // width: 30px;
	}
	.dd-block{
		display: inline-block;
		display: none;
		// visibility: hidden;
		// visibility: visible;

	}
}
.df-playlist2:hover{
	.dd-block{
		display: inline-block;
		// visibility: visible;
	}
	.dd3{
		display: none;
	}
}
.dd-topcaption{
	width: 100% !important;
}	

.dd-txt-wrap{
	text-align:center;
	h1{
		color:#de6005;
		font-size:16px;
		font-family:"Arial";
		font-weight: bold;
		margin-top: 30px;
	}
	p{
		margin-top: 17px;
		font-size:13px;
		font-family:"Arial";
		color:#595959;
	}
	.dd-social{
		margin: 27px 0px;
	}
}	
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {

	.dd-cheks2{
		position: relative;
		.dd-delete{
			position: absolute;
			right:-128px;
		}
	}		
}

@media only screen and (min-width : 992px) {
	.dd-footer-top{
		.dd-range-wrap{

			margin-left:85px !important;
		}
		.top-footer-right{
			margin-right:40px;
		}
	}
	.dd-header{
		.dd-log-in{
			margin-right:22px;
		}
	}
	.dd-header{
	    .dd-logo{
	    	text-align:left;
	    }
	}    
	.dd-footer-top{
		height: 59px;
		.dd-player{ 
			.dd-center{
				margin-left:0px;
			}	
		}		
		.dd-progress-wrap{	
			padding-left: 34px;
		    // padding-right: 100px;
		}
	}
	.dd-footer .footer-right {
		margin-right: 40px;
	}	
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}