
.clear{
	clear: both;
}

// left and right sidebar
.df-topcaption, .df-topcaption2{
	//height: 45px;
	background: linear-gradient(to bottom, #ffb200 , #ff7400 );
	padding: 7px 7px 3px 7px;
	border-radius: 5px;
	width: 92%;
	margin: 28px 0 11px 0;
	.dfimgbg{
		background: url(/img/df-logo.png)no-repeat left top;
		width: 30px;
		height: 30px;
		display: inline-block;	
	}
	.df-cap{
		vertical-align: top;
		display: inline-block;
		margin-top: 3px;	
		padding-left:8px;
		font-size: 18px;
		color:#fff;
		font-family: "Arial";
		font-weight: bold;
	}
}
.dfimg2{
		display: none;
	}
.df-music, .df-online{
	padding: 0 7px 2px 7px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 5.0px;
	.dfimg a{
		width: 30px;
		height: 32px;
		display: inline-block;
	}	
	.df-num{
		font-size: 13px; color:#bd470a;
		font-family: "Arial";
		font-weight: bold;
		vertical-align: top;
		display: inline-block;
		padding: 8px 7px 0 7px;
	}
	.df-group{
		display: inline-block;
		margin: 3px 0;
		a{
			span:first-child{
				font-size: 12px; color:#6c6c6c;font-family: "Arial";
				display: block;
				
			}
			span:last-child{
				color:#de6005;font-size: 12px;font-family: "Arial";font-weight: bold;
				display: block;
				
			}
		}
	}
}
.df-music:hover{
	border-radius: 5px;
	background: linear-gradient(to bottom, #fffffe , #eeeeee );
	box-shadow: 0px 6px 3px -4px #d8d8d8;	
}

// online list 


.dfonlinebg{
	background: url(/img/df-logo3.png)no-repeat left top !important;
}
.df-online{
	border-bottom: 1px dashed #e8e8e8;
	padding: 7px 7px 2px 7px;
	margin-top: 12.5px;
	margin-bottom: 7px;
	text-align: center;	//
	.df-group{
		vertical-align: top;
		padding-top: 7px;		
		//margin-left: 13px;		
		text-align: center;
		width: 100%;
		a{
			span:first-child{
				font-size: 14px;
			}
			span:last-child{
				font-size: 16px;
			}
		}
	}	
}
// .df-online:after{
// 	content: "";
// 	position: absolute;
// 	// width: 100%;
// 	border-bottom: 1px dashed #e8e8e8;
// 	margin: 5px 0 7px 0;
// }
.df-online:hover{
	border-radius: 5px;
	background: linear-gradient(to bottom, #fffffe , #eeeeee );
	box-shadow: 0px 6px 3px -4px #d8d8d8;	
}

.df-addbox{
	//float: right;
	display: inline-block;
	padding-top: 4px;		
	text-align: center;//
	float: none;//
	span{
		font-size: 14px; color:#a0a0a0;font-family: "Arial";
		display: inline-block;
		vertical-align: top;
		padding: 9px 0 0 10px;
		margin-right: 5px;	
	}
}
//tabs

.df-tabstoggle{	
	// background: linear-gradient(to bottom, rgba(0,0,0, 0.7) 55%, rgba(0,0,0,0) );
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
	// -moz-background-clip: text;
	// -moz-text-fill-color: transparent;	
}
.df-tabs{
	height: 120px;
	overflow: hidden;
	margin-top: 28px;
	
	.df-first, .df-second, .df-third{
		display: block;
		text-align: center;		
		li{
			//display: inline-block;			
			 a{			 				 
				color:#595959;
				font-size: 14px; 
				font-family: "Arial";
				margin:0 14px 10px 0;
				padding: 6px 11px;
				display: inline-block;
				border-radius: 5px;
				box-shadow: 0px 5px 3px -2px #d8d8d8;//27-4
				background: linear-gradient(to top, #f0f0ee, rgba(#eeeeee,0)  );
			}
		}
	}	
}

.df-oc{
	text-align: center;
	margin: 0 auto;		
	.df-open, .df-close{
		font-size: 14px;color:#de6005;font-family: "Arial";
		
		border-bottom: 1px dashed #de6005;
		display: inline-block;		
	}
	.df-close{
		//display: none;
	}
	.df-open:hover, .df-close:hover{
		border-bottom: 1px solid rgba(0,0,0,0);
	}
}
.df-tabs2{
	height: auto !important;
	min-height: 150px;	
}


//popularlist
.df-topcaption2{
	width: 100%;
	margin-bottom: 12px;
	.df-cap{
		letter-spacing: -0.2px;
		font-size: 16px;
	}
	.df-img2{
		background: url(/img/df-logo2.png)no-repeat left top;
		width: 30px;
		height: 30px;
		display: inline-block;	
	}		
}
.df-playlist{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 6px;
	display: block;
	.df1{
		background: url(/img/df-bg.png)no-repeat center;
		color:#ffffff; font-size: 15px;
		font-family: "Arial"; font-weight: bold;
		width: 30px;
		height: 30px;
		display: inline-block;
		text-align: center;
		padding-top: 5px;
		margin: 5px 0 5px 7px;
	}
	.df2{
		color:#de6005;
		font-size: 15px;
		font-family: "Arial"; font-weight: bold;
		margin-left: 9px;
	}
	.df3{
		float: right;
		font-size: 14px;color:#595959;font-family: "Arial";
		margin-right: 17px;
		padding-top: 9px;
	}
}

.df-playlist:hover{
	border-radius: 5px;
	background: linear-gradient(to bottom, #ffffff, #f4f3f2 );
	box-shadow: 0px 6px 3px -4px #d8d8d8;	
}

//track-incphp

.df-track{
	text-align: center;
	padding-top: 18px;
	border-top: 1px dashed #dddddd;
	margin-top: 20px;
	.df-name, .df-nametrack{
		font-size: 24px; color:#484848;font-family: "Arial";font-weight: bold;
		display: block;
		text-align: center;
	}
	.df-nametrack{
		font-size: 18px; font-family: "Arial";font-weight: normal;
		margin-bottom: 16px;
	}
	.df-sound{
		background: linear-gradient(to bottom, #ffaf00, #ff7600 );
		padding: 14px 7px;
		display: inline-block;
		height: 53px;
		border-radius: 5px;
		margin-right: 5.7px;
		margin-bottom: 10px;
		display: block;
		a{
			font-size: 20px; color:#ffffff;font-family: "Arial";font-weight: bold;
			background: url(/img/df-play2.png)no-repeat left center;
			padding: 10px 95px 10px 77.7px;
		}
	}
	.df-sound:hover{
		background: linear-gradient(to bottom, #ffc12a, #ff8000 );
	}
	.df-bg2 a{
		background: url(/img/df-download.png)no-repeat left center;
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.df-topcaption2{	
		.df-cap{		
			font-size: 18px;
		}
	}
	.df-track{	
		.df-sound{		
			display: inline-block;
		}
	}
}

@media only screen and (min-width : 768px) {
	.df-first, .df-second, .df-third{		
		li{
			display: inline-block;
		}
	}
	.df-online{	
		text-align: left;	//
		.df-group{		
			margin-left: 13px;		
			text-align: left;
			width: auto;
			padding-top: 0px;		
		}	
	}

	.df-addbox{
		float: right;	
	}
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}